---
include:
  - path: database/docker-compose.yml
  - path: redis/docker-compose.yml
  - path: vault/docker-compose.yml
  - path: backend/docker-compose.yml
  - path: client_web/docker-compose.yml
  - path: harborguard/docker-compose.yml
