---
services:
  etcd1: &etcd
    build: ./etcd
    container_name: etcd1
    hostname: etcd1
    networks:
      - patroni
    env_file:
      - ./etcd/.env
    environment:
      ETCD_NAME: etcd1
      ETCD_ADVERTISE_CLIENT_URLS: http://etcd1:2379
      ETCD_INITIAL_ADVERTISE_PEER_URLS: http://etcd1:2380
    volumes:
      - etcd1-data:/etcd-data
    healthcheck: &etcd-health
      test: ["CMD", "etcdctl", "--endpoints=http://etcd1:2379", "endpoint", "health"]
      interval: 5s
      timeout: 3s
      retries: 3

  etcd2:
    <<: *etcd
    container_name: etcd2
    hostname: etcd2
    env_file:
      - ./etcd/.env
    environment:
      ETCD_NAME: etcd2
      ETCD_ADVERTISE_CLIENT_URLS: http://etcd2:2379
      ETCD_INITIAL_ADVERTISE_PEER_URLS: http://etcd2:2380
    volumes:
      - etcd2-data:/etcd-data
    healthcheck:
      <<: *etcd-health
      test: ["CMD", "etcdctl", "--endpoints=http://etcd2:2379", "endpoint", "health"]

  etcd3:
    <<: *etcd
    container_name: etcd3
    hostname: etcd3
    env_file:
      - ./etcd/.env
    environment:
      ETCD_NAME: etcd3
      ETCD_ADVERTISE_CLIENT_URLS: http://etcd3:2379
      ETCD_INITIAL_ADVERTISE_PEER_URLS: http://etcd3:2380
    volumes:
      - etcd3-data:/etcd-data
    healthcheck:
      <<: *etcd-health
      test: ["CMD", "etcdctl", "--endpoints=http://etcd3:2379", "endpoint", "health"]

  haproxy:
    build: ./haproxy
    container_name: haproxy
    hostname: haproxy
    depends_on:
      - etcd1
      - etcd2
      - etcd3
    networks:
      - patroni
    ports:
      - "5000:5000"
      - "5001:5001"
    environment:
      ETCDCTL_ENDPOINTS: http://etcd1:2379,http://etcd2:2379,http://etcd3:2379
      PATRONI_ETCD3_HOSTS: "'etcd1:2379','etcd2:2379','etcd3:2379'"
      PATRONI_SCOPE: demo

  patroni1: &patroni
    build: ./postgresql
    container_name: patroni-1
    hostname: postgres-1
    depends_on:
      - etcd1
      - etcd2
      - etcd3
    env_file:
      - ./postgresql/.env
      - ./postgresql/.env1
    volumes:
      - patroni1-data:/var/lib/postgresql/data
      - ./postgresql/patroni.yml.template:/patroni.yml.template:ro
    restart: unless-stopped
    networks:
      - patroni
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 5s
      timeout: 3s
      start_period: 5s
      retries: 5

  patroni2:
    <<: *patroni
    container_name: patroni-2
    hostname: postgres-2
    depends_on:
      - etcd1
      - etcd2
      - etcd3
    env_file:
      - ./postgresql/.env
      - ./postgresql/.env2
    volumes:
      - patroni2-data:/var/lib/postgresql/data
      - ./postgresql/patroni.yml.template:/patroni.yml.template:ro
    restart: unless-stopped
    networks:
      - patroni
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 5s
      timeout: 3s
      start_period: 5s
      retries: 5

  patroni3:
    <<: *patroni
    container_name: patroni-3
    hostname: postgres-3
    depends_on:
      - etcd1
      - etcd2
      - etcd3
    env_file:
      - ./postgresql/.env
      - ./postgresql/.env3
    volumes:
      - patroni3-data:/var/lib/postgresql/data
      - ./postgresql/patroni.yml.template:/patroni.yml.template:ro
    restart: unless-stopped
    networks:
      - patroni
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres"]
      interval: 5s
      timeout: 3s
      start_period: 5s
      retries: 5

networks:
  patroni:
    name: area-patroni
  area-network:
    name: area-network

volumes:
  etcd1-data:
  etcd2-data:
  etcd3-data:
  patroni1-data:
  patroni2-data:
  patroni3-data:
