---
services:
  vault:
    image: hashicorp/vault:1.13.3
    container_name: vault
    restart: unless-stopped
    ports:
      - "${VAULT_PORT:-8200}:8200"
    environment:
      VAULT_ADDR: "http://127.0.0.1:8200"
      VAULT_API_ADDR: "${VAULT_API_ADDR:-http://127.0.0.1:8200}"
    volumes:
      - vault_data:/vault/file
      - ../vault/config:/vault/config
    cap_add:
      - IPC_LOCK
    command: server
    networks:
      - area-network
    healthcheck:
      test: ["CMD", "vault", "status"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 5s

networks:
  area-network:
    name: area-network

volumes:
  vault_data:
