---
services:
  cache:
    image: redis:6.2-alpine
    container_name: area-cache
    restart: always
    ports:
      - "${REDIS_PORT:-6379}:6379"
    command: redis-server --save 20 1 --loglevel warning --requirepass ${REDIS_PASS}
    volumes:
      - cache:/data
    networks:
      - area-network
    healthcheck:
      test: ["CMD", "redis-cli", "-a", "${REDIS_PASS}", "ping"]
      interval: 5s
      timeout: 3s
      retries: 5
      start_period: 5s

networks:
  area-network:
    name: area-network

volumes:
  cache:
    driver: local
